name: tests

on:
  push:
    branches:
      - main
    paths:
      - '**.py'
      - '.github/workflows/tests.yml'
      - 'pyproject.toml'
      - 'tests/**'
  pull_request:

jobs:
  test:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v1
    with:
      envs: |
        - linux: py39-xdist
        - linux: py39-spatial-xdist
        - linux: py310-xdist
        - linux: py310-spatial-xdist
        - linux: py311-xdist
        - linux: py311-spatial-xdist
        - linux: py3-xdist
        - linux: py3-spatial-xdist
        - linux: py3-spatial-cov-xdist
          coverage: 'codecov'
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

